[theme-style="cyberpunk"] {
  --background: oklch(0.1418 0.0662 295.8049);
  --foreground: oklch(0.8803 0.2083 157.334);
  --card: oklch(0.231 0.0366 280.8134);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.1418 0.0662 295.8049);
  --popover-foreground: oklch(0.8803 0.2083 157.334);
  --primary: oklch(0.6083 0.2973 312.1096);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7392 0.1576 235.3407);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2755 0.0276 284.4447);
  --muted-foreground: oklch(0.6324 0.0253 285.655);
  --accent: oklch(0.6354 0.2541 15.4582);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6317 0.2544 21.7529);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.374 0.0528 283.5546);
  --input: oklch(0.231 0.0366 280.8134);
  --ring: oklch(0.6083 0.2973 312.1096);
  --chart-1: oklch(0.6083 0.2973 312.1096);
  --chart-2: oklch(0.8803 0.2083 157.334);
  --chart-3: oklch(0.7392 0.1576 235.3407);
  --chart-4: oklch(0.6354 0.2541 15.4582);
  --chart-5: oklch(0.9616 0.213 112.0777);
  --sidebar: oklch(0.151 0.0359 281.2061);
  --sidebar-foreground: oklch(0.7109 0.0231 285.7983);
  --sidebar-primary: oklch(0.6083 0.2973 312.1096);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2755 0.0276 284.4447);
  --sidebar-accent-foreground: oklch(0.8803 0.2083 157.334);
  --sidebar-border: oklch(0.2494 0.0376 283.3318);
  --sidebar-ring: oklch(0.7392 0.1576 235.3407);
  --font-sans: "Orbitron", sans-serif;
  --font-serif: "Rajdhani", sans-serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 12px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.6;
  --shadow-color: #bc13fe;
  --shadow-2xs: 0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.3);
  --shadow-xs: 0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.3);
  --shadow-sm:
    0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.6),
    0px 1px 2px 1px hsl(283.1489 99.1561% 53.5294% / 0.6);
  --shadow:
    0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.6),
    0px 1px 2px 1px hsl(283.1489 99.1561% 53.5294% / 0.6);
  --shadow-md:
    0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.6),
    0px 2px 4px 1px hsl(283.1489 99.1561% 53.5294% / 0.6);
  --shadow-lg:
    0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.6),
    0px 4px 6px 1px hsl(283.1489 99.1561% 53.5294% / 0.6);
  --shadow-xl:
    0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 0.6),
    0px 8px 10px 1px hsl(283.1489 99.1561% 53.5294% / 0.6);
  --shadow-2xl: 0px 0px 12px 2px hsl(283.1489 99.1561% 53.5294% / 1.5);
  --tracking-normal: 0.1em;
  --spacing: 0.25rem;
}

[theme-style="cyberpunk"].dark {
  --background: oklch(0.1149 0 0);
  --foreground: oklch(0.8803 0.2083 157.334);
  --card: oklch(0.1591 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1149 0 0);
  --popover-foreground: oklch(0.8803 0.2083 157.334);
  --primary: oklch(0.6083 0.2973 312.1096);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7392 0.1576 235.3407);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.5693 0 0);
  --accent: oklch(0.6354 0.2541 15.4582);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6317 0.2544 21.7529);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.1591 0 0);
  --ring: oklch(0.6083 0.2973 312.1096);
  --chart-1: oklch(0.6083 0.2973 312.1096);
  --chart-2: oklch(0.8803 0.2083 157.334);
  --chart-3: oklch(0.7392 0.1576 235.3407);
  --chart-4: oklch(0.6354 0.2541 15.4582);
  --chart-5: oklch(0.9616 0.213 112.0777);
  --sidebar: oklch(0.0847 0 0);
  --sidebar-foreground: oklch(0.6268 0 0);
  --sidebar-primary: oklch(0.6083 0.2973 312.1096);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2178 0 0);
  --sidebar-accent-foreground: oklch(0.8803 0.2083 157.334);
  --sidebar-border: oklch(0.252 0 0);
  --sidebar-ring: oklch(0.7392 0.1576 235.3407);
  --font-sans: "Orbitron", sans-serif;
  --font-serif: "Rajdhani", sans-serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 20px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.8;
  --shadow-color: #ff0055;
  --shadow-2xs: 0px 0px 20px 4px hsl(340 100% 50% / 0.4);
  --shadow-xs: 0px 0px 20px 4px hsl(340 100% 50% / 0.4);
  --shadow-sm:
    0px 0px 20px 4px hsl(340 100% 50% / 0.8),
    0px 1px 2px 3px hsl(340 100% 50% / 0.8);
  --shadow:
    0px 0px 20px 4px hsl(340 100% 50% / 0.8),
    0px 1px 2px 3px hsl(340 100% 50% / 0.8);
  --shadow-md:
    0px 0px 20px 4px hsl(340 100% 50% / 0.8),
    0px 2px 4px 3px hsl(340 100% 50% / 0.8);
  --shadow-lg:
    0px 0px 20px 4px hsl(340 100% 50% / 0.8),
    0px 4px 6px 3px hsl(340 100% 50% / 0.8);
  --shadow-xl:
    0px 0px 20px 4px hsl(340 100% 50% / 0.8),
    0px 8px 10px 3px hsl(340 100% 50% / 0.8);
  --shadow-2xl: 0px 0px 20px 4px hsl(340 100% 50% / 2);
}
[theme-style="cyberpunk"] {
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
}
