@use "/src/variables" as *;

.settings {
  background-color: light-dark($pale-slate, $iron-grey);
  display: flex;
  flex-direction: column;

  select,
  input {
    background-color: light-dark($pale-slate, $iron-grey);
    border: none;
    border-bottom: 0.2em solid $brilliant-azure;
    color: light-dark($carbon-black, $bright-snow);
    text-align: center;
  }

  .dataPrinter {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;

    svg {
      width: 2.3em;
    }

    .github {
      fill: light-dark($carbon-black, $bright-snow);
      cursor: pointer;
      &:hover {
        fill: $brilliant-azure;
      }
      &:active {
        fill: $twitter-blue;
      }
    }
  }
}
