.hide {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
.hide__header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 0.5em 1em;
  border-radius: 1em;
  justify-content: center;
  cursor: pointer;
}
.hide__header:hover {
  background-color: darkgray;
}
.hide__header:active {
  background-color: lightgray;
}
.hide__container {
  display: none;
  flex-direction: column;
  padding-left: 0.5em;
  flex-wrap: wrap;
  gap: 0.3em;
}

.hide__container--flex {
  display: flex;
}

/* --------------------основная стилизация ------------------------*/
/* основной контейнер меню */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

/* контейнер заголовка меню */
.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  width: 10em;
  text-align: center;
}

.wrapper__header:hover {
  background-color: darkgray;
}
.wrapper__header:active {
  background-color: lightgray;
}

/* основной контейнер контента меню */
.wrapper__container {
  display: none;
  align-items: center;
}

.wrapper__container--flex {
  display: flex;
}

/* дочерний контейнер контента меню */
.wrapper__container-items {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: center;
  position: absolute;
  bottom: 0;
  max-height: 80vh;
  overflow-y: auto;
  padding-left: 0.5em;
}
/* элементы контента меню */
.wrapper-items-value {
  background-color: green;
  text-align: center;
  color: white;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  width: 15em;
  font-size: small;
  margin-top: auto;
}

.wrapper-items-value:hover {
  background-color: darkgreen;
}
.wrapper-items-value:active {
  background-color: green;
}

.wrapper-items-value--none {
  display: none;
}

.wrapper-items-value--red {
  background-color: red;
}

.wrapper-items-value--red:hover {
  background-color: darkred;
}

.wrapper-items-value--red:active {
  background-color: red;
}
