@use "/src/variables" as *;

.search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  flex-direction: column;
  border-bottom: 1px solid light-dark($bright-snow, $carbon-black);
  padding: 0.3em;

  select {
    padding: 0 0.5em;
  }
}
